* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Trirong, sans-serif;
  color: #333;
  background-color: #b9c3ed;
}
ul,
h2 {
  text-transform: uppercase;
}

.navbar {
  /*position: fixed;
  z-index: 50;*/
  width: 100%;
  /*padding: 25px 0;*/
}
.nav-content {
  margin: auto;
  padding: 0px 30px;
}
.navbar.sticky {
  padding: 10px 0;
  background-color: #1b1b1b;
}
.navbar .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 25px;
}
.menu-list li a:hover {
  color: cyan;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.shoppingcart-icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f07a";
  color: #fff;
  margin: 0 10px;
}

.userprofile-icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f007";
  color: #fff;
  margin: 0 10px;
}

.page-container {
  margin: 2px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* main content */

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto;
  background-color: e1e3ef;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
.grid-item {
  border: 3px solid #e1e3ef;
}
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
}
.gallery__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.gallery__item--2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.gallery__item--3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}
.gallery__item--4 {
  grid-column: 1 / span 4;
  grid-row: 4 / span 3;
}
/*  container-footer */

.container-footer {
  display: flex;
  justify-content: center;
}
.footer-item {
  padding: 10px;
}
.footer-item h3 {
  text-transform: uppercase;
}
.footer-item li {
  margin-left: 10px;
}
.main-icons {
  padding-right: 80px;
}
.main-icons li:last-child {
  padding-right: 10px;
}

@media (max-width: 868px) {
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #e1e3ef;
    display: block;
    padding: 40px 0;
    text-align: center;
  }

  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    background-color: #e1e3ef;
    padding: 10px;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .gallery__item--2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
  }
  .gallery__item--3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }

  .footer-item h3 {
    text-transform: uppercase;
    font-size: 14px;
  }
  .footer-item li {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  /* For mobile phones: */
  .header,
  .content,
  .page,
  .main-container,
  .footer {
    width: 100%;
  }
  .grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    background-color: #e1e3ef;
    padding: 10px;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }
  .gallery__item--3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 5;
  }
  .gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 3;
  }
  .footer-item h3 {
    text-transform: uppercase;
    font-size: 14px;
  }
  .footer-item li {
    font-size: 12px;
  }
}
