body{
    margin:0px;
}
.header{
    text-align: center;
}
.nav-menu{
    background-color:navajowhite;
    list-style: none;
    overflow: hidden;
}
.nav-menu a{
    display: block;
    padding:20px;
    float: left;
    text-decoration: none;
}
.content{
    background-color: blanchedalmond;
    padding:20px;
}
.content a{
    color:aquamarine;
}
.content a:hover{
    color:red;
    text-decoration: border 2px solid red;
}
p:first-child{
    color:orange;
}
p:last-child{
    background-color:purple;
}
.footer{
    text-align: center;
}